* {
  margin: 0;
  padding: 0;
}

body {
  color: #eee;
  background-color: #b5dcb4;
  font-family: sans-serif;
}

header {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 30px;
  border-bottom: 7px solid #eee;
  position: relative;
}

footer {
  text-align: center;
  padding-bottom: 20px;
}

.container {
  width: 825px;
  margin-left: auto;
  margin-right: auto;
}

.main-header,
.sub-header {
  text-align: center;
}

.main-header {
  text-transform: uppercase;
  letter-spacing: 3px;
  -webkit-text-stroke: 2px #666;
  font-size: 45px;
}

.columns {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 200px;
}

.column {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.right,
.left {
  width: 215px;
}

.message {
  margin-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.guess {
  border-radius: 6px;
  background: none;
  justify-content: center;
  align-items: center;
  border: 4px solid #eee;
  font-size: 40px;
  width: 80%;
  height: 40%;
  text-align: center;
  position: absolute;
  bottom: 13px;
  left: 13px;
}

.left-box {
  position: relative;
  height: 366px;
  width: 215px;
}

.input-box {
  background-color: #fff;
  color: #666;
  height: 200px;
  border: 2px solid #666;
  border-radius: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 80%;
  position: absolute;
  bottom: 65px;
  left: 20px;
}

.check {
  position: absolute;
  top: 310px;
  left: 45px;
  display: block;
}

.player-box {
  width: 300px;
  height: 300px;
  position: relative;
  background-color: #fff;
  border-radius: 6px;
}

.player-photo {
  width: 220px;
  height: 220px;
  position: absolute;
  left: 40px;
  top: 40px;
}

.again {
  margin-top: 10px;
}

.right {
  position: relative;
}

.right-box {
  background-color: #fff;
  color: #666;
  height: 150px;
  border: 2px solid #666;
  border-radius: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 80%;
  position: absolute;
  bottom: 65px;
  left: 20px;
}

.label-score {
  font-size: 15px;
  position: absolute;
  top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 1.6;
}

.label-highscore {
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  bottom: 25px;
  margin-left: 25px;
}

.btn:hover {
  cursor: pointer;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
}

.nav-btn {
  display: block;
  margin-top: 10px;
  margin-left: 20px;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 70%;
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.close-modal {
  position: absolute;
  top: 5px;
  right: 8px;
  font-size: 25px;
  color: black;
  cursor: pointer;
  border: none;
  background: none;
}

@keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
.btn {
  overflow: visible;
  background: transparent;
  line-height: normal;
  cursor: pointer;
  -moz-user-select: text;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  padding: 16px 36px 22px;
  background-color: #fff;
  color: #666;
  border: 2px solid #666;
  border-radius: 6px;
  transition: all 0.5s ease;
}
.btn:-moz-focus-inner {
  padding: 0;
  border: 0;
}
.btn--stripe {
  overflow: hidden;
  position: relative;
}
.btn--stripe:after {
  content: "";
  display: block;
  height: 7px;
  width: 100%;
  background-image: repeating-linear-gradient(45deg, #666, #666 1px, transparent 2px, transparent 5px);
  backface-visibility: hidden;
  border-top: 1px solid #666;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;
}
.btn--stripe:hover {
  background-color: #666;
  color: #fff;
  border-color: #000;
}
.btn--stripe:hover:after {
  background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
  border-top: 1px solid #000;
  animation: stripe-slide 12s infinite linear forwards;
}
.btn--large {
  width: 50%;
}
.btn--radius {
  border-radius: 36px;
}

/* Chrome, Safari, Edge, Opera - removing number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox - removing number arrows*/
input[type=number] {
  -moz-appearance: textfield;
}

@keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}/*# sourceMappingURL=style.css.map */